* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 auto;
  background-color: #cccccc;
  color: #000000;
  font-style: normal;
}

a {
  text-decoration: none;
}

/*img{
    width: 100%;
}*/
header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1a1a;
  height: 86px;
  padding: 17px 104px 17px 98px;
  align-items: center;
}
header .logo {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 23px;
  text-align: center;
  color: #f7f7f7;
  font-weight: 300;
}
header span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f7f7f7;
  text-align: center;
  font-weight: 300;
}
header .logo:hover {
  transform: scale(1.1);
}
header .nav_menu {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 32px;
}
header .nav_menu a {
  padding: 36px;
}
header .nav_menu :hover {
  text-decoration: underline;
}

a {
  color: #f7f7f7;
}

.nav_icon {
  display: flex;
  flex-wrap: nowrap;
  transition: all 400ms ease;
}
.nav_icon a {
  padding: 5px;
}
.nav_icon img {
  min-width: 100%;
}
.nav_icon :hover {
  transform: scale(1.1);
}

.main_picture img {
  width: 100%;
}

.about_me_headline h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.about_me_headline h1 span {
  font-size: 24px;
}

.about_me {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #e5dfdb;
  align-items: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_me .about_me_discription {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  /*  margin-right: 144px;*/
  width: 33%;
}
.about_me .about_me_discription span {
  border-left: 1px solid black;
  height: 175px;
  position: absolute;
  top: 48px;
  left: -26px;
}
.about_me .button_about_me {
  margin-top: 40px;
}
.about_me .button_about_me a {
  background-color: #bd8d71;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  border: 1px solid #bd8d71;
  border-radius: 5px;
  padding: 18px 72px 18px 72px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  position: relative;
}
.about_me .button_about_me :before {
  content: "";
  position: absolute;
  border: #bd8d71 solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}
.about_me .button_about_me :hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.about_me .about_me_picture {
  /*padding-left: 8px;*/
  padding-right: 50px;
  position: relative;
  bottom: 53px;
  height: auto;
}
.about_me img {
  max-width: 100%;
}

.carousel_headline {
  max-width: 1440px;
  margin: 0 auto;
}
.carousel_headline h2 {
  height: 114px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: start;
  padding: 64px 0px 0px 190px;
}
.carousel_headline h2 span {
  padding: 0px 0px 0px 180px;
}

.counter {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 20px;
  font-family: "Parisienne", sans-serif;
  font-weight: 400;
  line-height: 41px;
  font-size: 30px;
}

.carousel {
  max-width: 1440px;
  margin: 0 auto;
  /* display: flex;*/
}
.carousel .item {
  max-width: 680px;
  aspect-ratio: 680/400;
}

.owl-dots {
  display: none;
}

/*img {
    width: 100%;
  }*/
.owl-prev {
  /* background-color: #bcc0c1 !important;*/
  position: absolute;
  left: 50px;
  top: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  margin: 0 !important;
}

.owl-next {
  /*  background-color: white !important;*/
  position: absolute;
  right: 50px;
  top: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  margin: 0 !important;
}

.owl-next,
.owl-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-next span,
.owl-prev span {
  margin-top: -10px;
  display: block;
}

.main_gallery_headline {
  /*:after {
      margin-left: 9%;
    }
  */
}
.main_gallery_headline h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 70px;
  line-height: 42px;
  position: relative;
}
.main_gallery_headline h2 span {
  font-size: 24px;
  line-height: 18px;
}
.main_gallery_headline .main_gallery_headline::after {
  position: absolute;
  top: -28px;
  width: 440px;
  border-top: 1px solid #000;
  content: "";
  right: 404px;
}

.gallery {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.gallery .main_gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-top: 70px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  flex-wrap: wrap;
  transition: all 400ms ease;
}
.gallery .main_gallery a {
  color: #000000;
  padding: 5px;
  line-height: 28px;
}
.gallery .main_gallery a:hover {
  text-decoration: underline;
}
.gallery .main_gallery img {
  max-width: 100%;
}
.gallery .main_gallery img:hover {
  transform: scale(0.97);
  box-shadow: 5px 5px 5px rgb(78, 77, 77);
}

.button_more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-top: 50px;
}
.button_more a {
  color: #664c3d;
}
.button_more :hover {
  transform: scale(1.1);
}

.instagram_gallery {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  flex-wrap: wrap;
}

.headline_form h4 {
  font-weight: 400;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 31px;
  text-align: center;
  margin-top: 150px;
}

.application_form {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.application_form input {
  width: 273px;
  padding: 10px;
  background-color: rgba(229, 223, 219, 0.9);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

.button_application_form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button_application_form a {
  background-color: #bd8d71;
  color: #ebebeb;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 72px 18px 72px;
  text-align: center;
  margin-bottom: 70px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  position: relative;
}
.button_application_form :before {
  content: "";
  position: absolute;
  border: #bd8d71 solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top, right, bottom, left;
}
.button_application_form :hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

footer {
  flex-direction: row;
  justify-content: space-between;
  background-color: #e5dfdb;
  padding: 100px 100px 25px 50px;
}
footer .conteiner {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
footer .nav_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 34px;
  padding: 23px 110px;
  gap: 110px;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  white-space: nowrap;
}
footer .logo {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  border-right: 1px solid black;
  padding: 0px 91px;
}
footer span {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0px;
}
footer a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}
footer .footer_icon {
  display: flex;
  gap: 20px;
  margin-bottom: 31px;
  align-items: center;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin-top: 75px;
}
footer a:hover {
  transform: scale(1.3);
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.mobile_header .mobile_menu_btn {
  display: flex;
  position: absolute;
  right: 20px;
  padding: 20px;
  justify-content: flex-end;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 330px;
  padding: 25px 38px 26px 96px;
  font-size: 24px;
  text-align: end;
  line-height: 28px;
  background: #cccccc;
  gap: 15px;
  position: absolute;
  right: 0px;
  top: 61px;
  z-index: 1;
  /* a {
    color: $color-main;
    font-size: $font-size-18;
    font-weight: $fw5;
    font-family: $font-raleway;
  }*/
}
.mobile_menu .dropdown {
  position: relative;
  display: inline-block;
}
.mobile_menu .dropdown span a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  line-height: 40px;
}
.mobile_menu .dropbtn {
  background: none;
  color: #000000;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.mobile_menu .dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.mobile_menu .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.mobile_menu .dropdown-content a:hover {
  text-decoration: underline;
}
.mobile_menu .show {
  display: block !important;
}
.mobile_menu .contact {
  background-color: #e5dfdb;
  width: 330px;
  position: relative;
  right: 96px;
  top: 26px;
}
.mobile_menu .contact_mob {
  display: flex;
  justify-content: end;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.015em;
  padding: 42px 40px 20px 130px;
}
.mobile_menu .contact_mob a {
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.mobile_menu .mobile_icon {
  display: flex;
  justify-content: end;
  padding: 0px 40px 40px 100px;
  gap: 18px;
}

.mobile_gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
}
.mobile_gallery p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.005em;
  text-align: center;
}

.mobile_feedback {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 40px 20px 40px;
}
.mobile_feedback .button_about_me {
  margin-top: 15px;
  margin-left: 134px;
}
.mobile_feedback .button_about_me ::before {
  content: "";
  position: absolute;
  width: 355px;
  border-top: 1px solid #000000;
  margin-top: 0.6em;
  right: 188px;
}
.mobile_feedback .button_about_me a {
  background-color: #bd8d71;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  border: 1px solid #bd8d71;
  border-radius: 5px;
  padding: 13px 34px 13px 34px;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.mobile_feedback .headline {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.07em;
  margin-top: 50px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.mobile_feedback p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
}
.mobile_feedback p span {
  font-weight: bold;
  text-align: start;
}

.main_mobile_gallery img {
  padding-bottom: 10px;
  padding-top: 20px;
}
.main_mobile_gallery .main_mobile_button {
  position: absolute;
  padding-left: 25px;
  transform: translateY(176%);
}
.main_mobile_gallery span::before {
  content: "";
  border: 1px solid black;
  width: 130px;
  margin-top: 20px;
  position: absolute;
}

.mobile_footer {
  margin: o auto;
  background: #e5dfdb;
  padding: 40px 0px 50px 0px;
  text-align: center;
}
.mobile_footer .logo {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  /* padding: 0px 91px;*/
}
.mobile_footer span {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}
.mobile_footer a {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.015em;
  line-height: 21px;
  color: #000000;
}
.mobile_footer .mobile_footer_icon {
  text-align: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.mobile_about_me_headline {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  position: relative;
  padding-top: 30px;
  padding-bottom: 71px;
}
.mobile_about_me_headline span {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 15px;
}

.headline_line::before {
  content: "";
  position: absolute;
  border-top: 1px solid #000000;
  width: 43px;
  margin-top: 11px;
  margin-left: -61px;
}

.headline_line::after {
  content: "";
  position: absolute;
  border-top: 1px solid #000000;
  width: 43px;
  margin-top: 11px;
  margin-left: 11px;
}

.portfolio_headline {
  font-size: 36px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
}
.portfolio_headline .conteiner {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.portfolio_headline span {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  padding: 0px 100px 70px 100px;
}

.conteiner_gallery {
  max-width: 1440px;
  margin: 0 auto;
}
.conteiner_gallery .portfolio_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(392px, 1fr));
  padding: 100px;
  justify-content: center;
}
.conteiner_gallery .portfolio_gallery img {
  max-width: 100%;
  height: auto;
}
.conteiner_gallery .portfolio_gallery a {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 35px;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery_pages {
  text-align: center;
  position: relative;
  bottom: 83px;
}
.gallery_pages a {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.gallery_pages span {
  position: relative;
  bottom: 4px;
}

.conteiner_wedding_gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px;
}
.conteiner_wedding_gallery .wedding_gallery {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;*/
  gap: 5px;
  align-items: center;
}
.conteiner_wedding_gallery img {
  max-width: 100%;
  height: auto;
}

.conteiner_price {
  max-width: 1440px;
  margin: 0 auto;
}
.conteiner_price .price_headline {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 90px;
  padding-bottom: 61px;
  line-height: 58px;
}

.wedding_price_headline {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}
.wedding_price_headline ::before {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 37%;
  bottom: 19px;
  margin-left: -41%;
}
.wedding_price_headline ::after {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 80%;
  bottom: 19px;
}

.conteiner_wedding_price {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}
.conteiner_wedding_price .wedding_price {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum {
  width: 382px;
  background-color: #e5dfdb;
  height: 1%;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 11px;
}
.conteiner_wedding_price .wedding_price .wedding_price_minimum a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 94%;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium {
  width: 382px;
  background-color: #e5dfdb;
  height: 1%;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 11px;
}
.conteiner_wedding_price .wedding_price .wedding_price_medium a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 94%;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium {
  width: 382px;
  background-color: #e5dfdb;
  height: 1%;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 11px;
}
.conteiner_wedding_price .wedding_price .wedding_price_premium a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 94%;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.family_price_headline {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.family_price_headline ::before {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 37%;
  bottom: 19px;
  margin-left: -41%;
}
.family_price_headline ::after {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 80%;
  bottom: 19px;
}

.conteiner_family_price {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}
.conteiner_family_price .family_price {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.conteiner_family_price .family_price .family_price_family {
  width: 360px;
}
.conteiner_family_price .family_price .family_price_family .cost {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
}
.conteiner_family_price .family_price .family_price_family .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_family_price .family_price .family_price_family span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_family_price .family_price .family_price_family img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_family_price .family_price .family_price_family p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.conteiner_family_price .family_price .family_price_family a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 220px;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.conteiner_family_price .family_price .family_price_birthday {
  width: 360px;
}
.conteiner_family_price .family_price .family_price_birthday .cost {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
}
.conteiner_family_price .family_price .family_price_birthday .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_family_price .family_price .family_price_birthday span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_family_price .family_price .family_price_birthday img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_family_price .family_price .family_price_birthday p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.conteiner_family_price .family_price .family_price_birthday a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 220px;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.conteiner_family_price .family_price .family_price_love_story {
  width: 360px;
}
.conteiner_family_price .family_price .family_price_love_story .cost {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
}
.conteiner_family_price .family_price .family_price_love_story .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_family_price .family_price .family_price_love_story span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_family_price .family_price .family_price_love_story img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_family_price .family_price .family_price_love_story p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.conteiner_family_price .family_price .family_price_love_story a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 220px;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.other_price_headline {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  margin-top: 80px;
}
.other_price_headline ::before {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 37%;
  bottom: 19px;
  margin-left: -41%;
}
.other_price_headline ::after {
  content: "";
  border: 1px solid #000000;
  position: absolute;
  width: 80%;
  bottom: 19px;
}

.conteiner_other_price {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 120px;
}
.conteiner_other_price .other_price {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.conteiner_other_price .other_price .other_price_individual {
  width: 360px;
}
.conteiner_other_price .other_price .other_price_individual .cost {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
}
.conteiner_other_price .other_price .other_price_individual .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_other_price .other_price .other_price_individual span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_other_price .other_price .other_price_individual img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_other_price .other_price .other_price_individual p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.conteiner_other_price .other_price .other_price_individual a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 220px;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.conteiner_other_price .other_price .other_price_content {
  width: 360px;
}
.conteiner_other_price .other_price .other_price_content .cost {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
}
.conteiner_other_price .other_price .other_price_content .wedding_price_h {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner_other_price .other_price .other_price_content span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  padding-top: 40px;
  padding-bottom: 18px;
  display: block;
}
.conteiner_other_price .other_price .other_price_content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.conteiner_other_price .other_price .other_price_content p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.conteiner_other_price .other_price .other_price_content a {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 220px;
  background-color: #bd8d71;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.065em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.contacts_headline {
  margin-bottom: 100px;
  margin-top: 99px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  position: relative;
}

.contacts_conteiner {
  margin: 0 auto;
  max-width: 1440px;
}
.contacts_conteiner .contacts_main {
  display: flex;
  justify-content: space-around;
}
.contacts_conteiner .contacts_main .contacts_me {
  position: relative;
  top: 137px;
}
.contacts_conteiner .contacts_main .contacts_me p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 28px;
  text-align: justify;
}
.contacts_conteiner .contacts_main .contacts_me span {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
}
.contacts_conteiner .contacts_main .contacts_me a {
  color: #000000;
  padding-bottom: 50px;
}
.contacts_conteiner .contacts_main .contacts_me .contacts_icon {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.contacts_conteiner .contacts_main .application_contacts p {
  font-size: 26px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #050505;
  /*span::before {
    content: "";
    width: 100%;
    position: absolute;
    border-top: 1px solid black;*/
}
.contacts_conteiner .contacts_main input {
  width: 283px;
  background: rgba(229, 223, 219, 0.9);
  border: 1px solid #000000;
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
}
.contacts_conteiner .button_application_contacts {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contacts_conteiner .button_application_contacts a {
  background-color: #bd8d71;
  color: #ebebeb;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 72px 18px 72px;
  text-align: center;
  margin-bottom: 70px;
}

.contacts_description {
  margin: 0 auto;
  max-width: 1440px;
}
.contacts_description h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 50px;
  padding: 0px 50px;
}
.contacts_description p {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-bottom: 90px;
  line-height: 40px;
}

.mobile_contacts {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile_contacts .application_contacts_mobile p {
  font-size: 26px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #050505;
  /*span::before {
    content: "";
    width: 100%;
    position: absolute;
    border-top: 1px solid black;*/
}
.mobile_contacts .application_contacts_mobile input {
  width: 283px;
  background: rgba(229, 223, 219, 0.9);
  border: 1px solid #000000;
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
}
.mobile_contacts .application_contacts_mobile .button_application_contacts {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobile_contacts .application_contacts_mobile .button_application_contacts a {
  background-color: #bd8d71;
  color: #ebebeb;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 72px 18px 72px;
  text-align: center;
  margin-bottom: 70px;
}
.mobile_contacts .contacts_me_mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile_contacts .contacts_me_mobile p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.mobile_contacts .contacts_me_mobile span {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.mobile_contacts .contacts_me_mobile a {
  color: #000000;
  padding-bottom: 50px;
  text-align: center;
}
.mobile_contacts .contacts_me_mobile .contacts_icon {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.reviews_conteiner {
  max-width: 1440px;
  margin: 0 auto;
}
.reviews_conteiner .reviews {
  border: 2px solid #ccc;
  background-color: #e5dfdb;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.reviews_conteiner .reviews img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.reviews_conteiner .reviews span {
  font-size: 20px;
  margin-right: 15px;
}

.reviews_description {
  margin: 0 auto;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 40px;
  text-align: center;
  line-height: 37px;
}

.headline_reviews {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding-top: 50px;
}

.rewiews_form {
  margin: 0 auto;
  max-width: 1440px;
}
.rewiews_form form {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 5px;
  background: #e5dfdb;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
}
.rewiews_form form p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 20px;
}
.rewiews_form form .textbox {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.4);
}
.rewiews_form form .message {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 120px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  display: block;
  padding: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
.rewiews_form form .button {
  height: 50px;
  width: 154px;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 0px solid;
  box-sizing: border-box;
  padding: 10px;
  background-color: #bd8d71;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  transition: background 0.4s;
  cursor: pointer;
}

.headline_about_me {
  margin: 0 auto;
  padding-top: 50px;
}
.headline_about_me h1 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.discription_about_me {
  margin: 0 auto;
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.discription_about_me img {
  max-width: 100%;
}
.discription_about_me h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.discription_about_me p {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .main_gallery {
    display: none !important;
  }
}
@media only screen and (min-width: 700px) {
  .main_mobile_gallery {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
  .main_gallery_headline h2 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main_gallery_headline ::before {
    content: "";
    position: absolute;
    border-top: 1px solid #000000;
    width: 130px;
    left: 0px;
    bottom: 58px;
  }
  .main_gallery_headline span {
    display: none;
  }
  .nav_menu {
    display: none;
  }
  header {
    padding: 20px;
    height: 61px;
  }
  header .logo {
    text-align: start;
    font-size: 18px;
    font-weight: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
  }
  header span {
    font-size: 13px;
    font-weight: "Roboto", sans-serif;
    font-weight: 400;
  }
  .nav_icon {
    display: none !important;
  }
  footer {
    margin-top: 10px;
    padding: 60px;
  }
  footer .nav_footer {
    display: none !important;
  }
  footer .footer_icon {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    gap: 59px;
  }
  footer .logo {
    margin: 0 auto;
    border: none;
    line-height: 20px;
  }
  footer span {
    text-align: center;
  }
  .instagram_gallery {
    display: none;
  }
  .about_me_discription {
    display: none;
  }
  main .about_me_picture {
    top: 1px;
    padding-left: 50px;
  }
  main img {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .owl-item {
    max-width: 290px;
    /* height: 192px;*/
    aspect-ratio: 290/192;
  }
  .main_gallery img {
    max-width: 280px;
    max-height: auto;
  }
  .main_gallery .gallery_discription {
    display: none;
  }
  .button_more {
    display: none;
  }
  .headline_form {
    margin-top: 50px;
  }
  .button_application_form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -28px;
  }
  .button_application_form a {
    margin-top: -68px;
    background-color: #bd8d71;
    color: #ebebeb;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 13px 34px 13px 34px;
    text-align: center;
  }
  .carousel_headline h2 {
    margin: 0 auto;
    position: relative;
    padding-left: 40px;
    font-family: "Raleway", sans-serif;
    top: 26px;
    line-height: 20px;
    font-size: 18px;
    text-align: start;
    text-transform: uppercase;
  }
  .carousel_headline h2 span {
    padding-left: 88px;
  }
  /* .carousel_headline
    ::before {
      content: "";
      position: absolute;
      width: 120%;
      border-top: 1px solid #000000;
    }
  */
  .counter {
    font-size: 12px;
  }
  .about_me_headline {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #000000;
  }
  .about_me_headline span {
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
  .about_me_headline {
    display: none;
  }
  .contacts_main {
    display: none !important;
  }
  .contacts_description h2 {
    font-size: 20px;
  }
  .contacts_description p {
    font-size: 18px;
  }
  .contacts_headline h1 {
    font-size: 24px;
  }
  .about_me {
    width: 100%;
    max-height: 250px;
  }
  .about_me .about_me_picture {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .about_me .about_me_picture img {
    width: 70%;
    min-width: 300px;
  }
}
@media only screen and (min-width: 800px) {
  .mobile_about_me_headline {
    display: none;
  }
  .mobile_footer {
    display: none;
  }
  .mobile_menu_btn {
    display: none !important;
  }
  .mobile_menu {
    display: none;
  }
  .mobile_gallery {
    display: none;
  }
  .mobile_feedback {
    display: none;
  }
  .mobile_contacts {
    display: none;
  }
}
@media only screen and (max-width: 1370px) {
  /* footer {
      .logo {
        margin: 0 auto;
        border: none;
      }
    }*/
  .footer_icon {
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .footer_icon a {
    align-items: center;
  }
  /*  .nav_footer {
    margin: 0 auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }*/
  .about_me_discription {
    width: 100%;
  }
}
@media only screen and (max-width: 1210px) {
  .footer_icon {
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
  }
  .footer_icon a {
    align-items: center;
  }
  footer .logo {
    border: none;
    margin: 0 auto;
  }
  footer .nav_footer {
    display: flex;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 850px) {
  .application_form {
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
